body{
    margin: 0;
    padding: 0;
    background-color: #ebedf3;
}
.container{
    width: 1000px;
    margin: 0 auto;
}



/****HEADER*****/
header{
    padding: 10px 0;
    background-color: #00B0E8;
}
.logo{
    margin: 0;
}
.logo a{
    text-decoration: none;
    font-size: 45px;
    color: #FFFEDC;
}
.logo a:active{
    color: #0000ee;
}
.logo a span{
    display: block;
    line-height: .8;
}


/********Sidebar*********/
.sidebar{
    /*border: 1px solid blue;*/
    width: 20%;
    float: left;
    padding: 10px;
}
.nav-sidebar {
    width: 100%;
    padding: 8px 0;
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}













/********Content*********/

.content{
    /*border: 1px solid red;*/
    width: 75%;
    float: left;
    padding: 10px;
    background-color: #a0a6ad;
}



.item{
    background-color: #fff;
    border: 1px solid #0E2231;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.item h2 a{
    color: #0E2231;
    text-decoration: none;
}
.item a:visited{
    color: #1d1f21;
}
.item .text{
    font-size:20px;
}