/***************START GLOBAL**********************/
body{
    margin: 0;
    padding: 0;
    background-color: #ebedf3;
}
.container{
    width: 1000px;
    margin: 0 auto;
}
.character {
    font-size: 0.88em;
    font-weight: bolder;
}
/***************END GLOBAL**********************/

/***************START HEADER**********************/
header{
    padding: 15px 10px;
    background-color: #00B0E8;
}
.logo{
    margin: 0;
    display: inline-block;
}
.logo a{
    text-decoration: none;
    font-size: 45px;
    color: #FFFEDC;
}
.logo a:active{
    color: #0000ee;
}
.logo a span{
    display: block;
    line-height: .8;
}
.create-ad-block{
    width: 250px;
    float: right;
}
.create-ad-block .create{
    font-weight: bold;
    font-size: 25px;
    padding: 10px;
    background-color: #fff;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}
.create-ad-block .create:hover{
    background-color: #4CAF50;
    color: #fff;
}
/***************END HEADER**********************/

/*******************START SIDEBAR***************/
.sidebar{
    /*border: 1px solid blue;*/
    width: 25%;
    float: left;
    padding: 10px 10px 10px 5px;
}
.nav-sidebar {
    width: 100%;
    padding: 15px;
    border-right: 1px solid #ddd;
    background-color: #ADD8E6;
        -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.nav-sidebar a {
    color: #333;
    font-size: 18px;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.nav-sidebar .active a {
    cursor: default;
    background-color: #428bca;
    color: #fff;
    text-shadow: 1px 1px 1px #666;
}
.nav-sidebar .active a:hover {
    background-color: #428bca;
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* Right-aligned sidebar */
.nav-sidebar.pull-right {
    border-right: 0;
    border-left: 1px solid #ddd;
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
/************************END SIDEBAR************************/

/*********************START BASE Content********************/
.content-wrap{
    padding: 10px 10px 10px 5px;
    background-color: #fff;
}
.content{
    /*border: 1px solid red;*/
    width: 73%;
    float: left;
    padding: 10px;
    background-color: #a0a6ad;
}
.item{
    background-color: #fff;
    border: 1px solid #0E2231;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}
.item h2 a{
    color: #0E2231;
    text-decoration: none;
}
.item h2 a:hover{
    color: #217;
}
.item a:visited{
    color: #1d1f21;
}
.item .text{
    font-size:20px;
}
/*******************  **END BASE Content**********************/
/*********************START AD_CREATE Form********************/
.btn-create{
    padding: 10px 20px;
    font-size: 20px;

    color: #fff;
    background-color: #6496c8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #27496d;
}
.btn-create:hover{
      box-shadow: inset 0 0 0 1px #27496d,0 5px 15px #193047;

}
/*********************END AD_CREATE Form**********************/

/******************START NAVBAR.Pagination********************/
.pagination{
    display: block;
    text-align: center;
    font-size: 17px;
}
/*******************End Pagination*********************/



/******************START MENU********************/
.menu{
    border: 2px solid rgb(185, 185, 185);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0;
}
.menu ul{
    margin: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li.active{
    border-bottom: 3px solid #3B5998;
}
.menu ul li a{
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    font-size:15px;
}

/******************END MENU********************/