{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{{ item.title }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/ad.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static "js/slick.min.js" %}"></script>
{% endblock %}

{% block content %}
    {% if item %}
        <div class="items">
            <div class="item">
                <div class="slider">
                    {% for image in item.images.all %}
                        <div class="slide">
                            <div class="img-wrap">
                                <img src="{{ image.image.url }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <h2>{{ item.title }}</h2>
                <p class="text">{{ item.text  }}</p>
                <p>{% trans 'Phone' %}:
                    {% if item.phone1 %}
                        <span>{{ item.phone1 }}</span>
                    {% endif %}
                    {% if item.phone2 %}
                        <span>; {{ item.phone2 }}</span>
                    {% endif %}
                </p>
                <p>{% trans 'Date of creation' %}: <b>{{ item.date_create }}</b></p>
                <span class="category">{% trans 'Category' %}:
                    <a href="{% url 'webapp:category' item.category.slug %}"> <b>{{ item.category }}</b></a>
                </span> <br> <br>
            <p>
                <h2><a href="{% url 'webapp:ad' item.slug %}">{{ item.title }}</a></h2></p>

                <div class="fb-share-button"
                     data-href="http://kochkorcity.kg{% url 'webapp:ad' item.slug %}"
                     data-layout="button"
                     data-size="large"
                     data-mobile-iframe="true">
                    <a class="fb-xfbml-parse-ignore" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fkochkorcity.kg%2Fru%2Fad%2F{{ item.slug }}%2F&amp;src=sdkpreparse">{% trans 'Share' %}</a>
                </div>


            {#    ok#}
                <a class="ok_share" target="_blank" href="https://connect.ok.ru/offer
?url=http://kochkorcity.kg/ad/{{ item.slug }}/
&title={{ item.slug }}
&description={{ item.text }}
&imageUrl=http://kochkorcity.kg{{ item.images.first.image.url }}">{% trans 'Share' %}</a>

{#    ok_end#}

            </div>
        </div>
    {% else %}
        {% include '404.html' %}
    {% endif %}
    <script>
    $('.slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        autoplay: true,
        slidesToShow: 1,
        adaptiveHeight: true
    });
    </script>



    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11&appId=950068138435409';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>





{% endblock %}

{% block meta %}
    <meta property="og:url"                content="http://kochkorcity.kg{% url 'webapp:ad' item.slug %}" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="{{ item.title }}" />
    <meta property="og:description"        content="{{ item.text }}" />
    <meta property="og:image"              content="http://kochkorcity.kg{{ item.images.first.image.url }}" />
{% endblock %}

