{% extends 'base.html' %}
{% load static %}
{% block title %}{{ item.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/ad.css' %}">
{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="items">
        <div class="item">
            {% if item.image %}
                <div class="image-wrap">
                    <img src="{{ item.image.url }}" alt="">
                </div>
            {% endif %}
            <h2><a href="#">{{ item.title }}</a></h2>
            <p class="text">{{ item.text|safe  }}</p>
            <p>Телефон:
                {% if item.phone1 %}
                    <span>{{ item.phone1 }}</span>
                {% endif %}
                {% if item.phone2 %}111
                    <span> ; {{ item.phone2 }}</span>
                {% endif %}
            </p>
            <p>Date created: <b>{{ item.date_create }}</b></p>
            <span class="category">Категория:
                <a href="{% url 'webapp:category' item.category.slug %}"> <b>{{ item.category }}</b></a>
            </span>
        </div>
    </div>
{% endblock %}