{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">#}
{#    <link rel="stylesheet" href="{% static 'css/slick.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block js %} {% endblock %}
{#    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107668524-1"></script>#}
{#    <script>#}
{#      window.dataLayer = window.dataLayer || [];#}
{#      function gtag(){dataLayer.push(arguments);}#}
{#      gtag('js', new Date());#}
{##}
{#      gtag('config', 'UA-107668524-1');#}
{#    </script>#}

</head>
<body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
{#    {% block slider %}{% endblock %}#}
    <div class="container">
        <div class="content-wrap clearfix">
            {% include 'sidebar.html' %}
            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->

{#    {% include 'footer.html' %}#}
</body>
</html>