{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    <meta charset="UTF-8">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    {% block css %} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block js %} {% endblock %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107668524-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-107668524-1');
    </script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-4682358258937194",
        enable_page_level_ads: true
      });
    </script>

</head>
<body>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="content-wrap clearfix">
            <div class="sidebar">
                {% include 'sidebar.html' %}
                <div class="gads">
                </div>
            </div>

            <div class="content">
                {% block content %} {% endblock %}
            </div>
        </div>
    </div>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->

{#    {% include 'footer.html' %}#}
</body>
</html>