{% load i18n %}
<!--{% load l10n %}-->

<div class="container">
    <header>
        <h1 class="logo">
            <a href="/">
                <span>{% trans 'Kochkor CITY' %}</span>
                <span>&nbsp &nbsp {% trans "ad" %}</span>
            </a>
        </h1>

        <div class="lang">
            <form action="{% url 'set_language' %}" method="post" id="combogrados">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <input type="submit" name="language" value="{{ language.code }}">
                {% endfor %}
            </form>
        </div>
        <div class="create-ad-block">
            <a href="{% url 'webapp:ad_create' %}" class="create">{% trans 'Create ad' %}</a>
        </div>
    </header>
</div>