{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}Кочкор CITY{% endblock %}

{% block content %}
    <div class="item">
        <h3> Урматтуу Кочкор районунун тургундары, эгер сайт боюнча суроолорунуздар болсо
                0500 01 02 05 номерине кайрылсаныздар болот</h3>
    </div>
    <div class="item">
        <h3>Бизде жакшы жанылык, эми жарнаманыздарды суроттору менен киргизсениздер болот.</h3>
    </div>
    <div class="item">
        <h3>Жарнама тузуу учун жогорудагы "Жарнама тузуу" баскычын басыныз</h3>
    </div>

    {% include 'items.html' %}
{% endblock %}