{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Кочкор Реклама+{% endblock %}

{% block js %}
    <script src="{% static "js/slick.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.slider').slick({
              dots: true,
              speed: 500,
              autoplay: true,
              autoplaySpeed: 3000
          });
        });
    </script>
{% endblock %}

{% block slider %}
    <div class="container">
        <div class="slider">
            <div><img src="{% static 'img/1.jpg' %}" alt=""></div>
            <div><img src="{% static 'img/2.jpg' %}" alt=""></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <div class="items">
        {% for item in items %}
            <div class="item">
                <h2><a href="{% url 'webapp:ad' item.slug %}">{{ item.title }}</a></h2>
                <p class="text">{{ item.text|safe|truncatechars:120  }}</p>
                <p>Date created: <b>{{ item.date_create }}</b></p>
                <span class="category">Категория: <a href="{% url 'webapp:category' item.category.slug %}"> <b>{{ item.category }}</b></a></span>
            </div>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if items.has_previous %}
                    <a href="?page={{ items.previous_page_number }}">мурунку баракчага отуу</a>
                {% endif %}

                <span class="current">
                     <b>{{ items.paginator.num_pages }}</b> баракчанын <b>{{ items.number }}</b> баракчасы.
                </span>

                {% if items.has_next %}
                    <a href="?page={{ items.next_page_number }}">кийинки баракча отуу</a>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}