{% load i18n %}
{% if ad_list %}
    <h1>{{ title }}</h1>
    <div class="items">
        {% for ad in ad_list %}
        <div class="item">
            <div class="img-wrap-left">
                <a href="{% url 'webapp:ad' ad.slug %}">
                    <img src="{{ ad.first_image }}" alt="{{ ad.title }}">
                </a>
            </div>
            <div class="description">
                <h2><a href="{% url 'webapp:ad' ad.slug %}">{{ ad.title }}</a></h2>

                <p class="text">{{ ad.text|safe|truncatechars:120  }}</p>
{#                <p>{% trans 'Date of creation' %}: <b>{{ item.date_create }}</b></p>#}

                {% if ad.category %}
                    <span class="category">{% trans 'Category' %}: <a href="{% url 'webapp:category' ad.category.slug %}"> <b>{{ ad.category }}</b></a></span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% trans 'previous page' %}</a>
            {% endif %}

            <span class="current">
                 <b>{{ page_obj.paginator.num_pages }}</b> {% trans 'page of' %} <b> {{ page_obj.number }}</b>
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% trans 'next page' %}</a>
            {% endif %}
        </span>
    </div>
{% else %}
    <h2>{% trans "SORRY!!! Ad doesn't exist!!!" %}</h2>
{% endif %}