{% load appearance %}
{% load i18n %}

<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{% trans 'Kochkor CITY' %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item {% url 'webapp:index' %}">
        <a class="nav-link" href="{% url 'webapp:index' %}">{% trans 'Main page'%}</a>
      </li>
      <li class="nav-item {% highlight_if_active 'webapp:ad_create' %}">
        <a class="nav-link" href="{% url 'webapp:ad_create' %}">{% trans 'Create ad' %}</a>
      </li>
    </ul>
      <div class="form-inline my-2 my-lg-0">
                  <div class="lang">
            <form action="{% url 'set_language' %}" method="post" id="combogrados">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}" />
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <input type="submit" name="language" value="{{ language.code }}">
                {% endfor %}
            </form>
        </div>
      </div>
  </div>
</nav>
</div>
