{% load appearance %}
{% load i18n %}

<div class="container" xmlns="http://www.w3.org/1999/html">
    <nav class="menu">
        <ul>
            <li class="{% highlight_if_active 'webapp:index' %}">
                <a href="{% url 'webapp:index' %}">{% trans 'Main page'%}</a>
            </li>
            <li class="{% highlight_if_active 'webapp:ad_create' %}">
                <a href="{% url 'webapp:ad_create' %}" class="create">{% trans 'Create ad' %}</a>
            </li>
        </ul>
    </nav>
</div>

